body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f3f3;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f2f2f;
    padding-bottom: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.movie_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
    margin-top: 30px;
}

.cards {
    padding: 1px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card_img_item {
    width: 250px;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.overview {
    display: none;
}

.card_title_box {
    padding: 10px;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    gap: 30px;
}

.search input {
    width: 500px;
    height: 25px;
    border-radius: 10px;
    border-color: #585858;
    padding: 5px 5px 5px 18px;
    font-size: 16px;
}

.search_btn {
    border: transparent;
    border-radius: 5px;
    background-color: #545454;
    padding: 8px 15px;
    font-size: 16px;
    color: white;
}

.search_btn:hover {
    background-color: #929292;
}

.reset_btn {
    border: transparent;
    border-radius: 5px;
    background-color: #545454;
    padding: 8px 15px;
    font-size: 16px;
    color: white;
}

.reset_btn:hover {
    background-color: #929292;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 5px;
    top: 50%;
    left: 50%;
    width: 450px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: #ffffff;
    transition: box-shadow 0.2s;
    border: transparent;
    padding: 20px;
}

.modal_close_btn {
    display: flex;
    justify-content: flex-end;
}

.close_btn {
    background-color: white;
    border: transparent;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.close_btn:hover {
    color: gray;
}

.modal_img_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal_img_item {
    width: 100%;
    height: 350px;
    object-fit: contain;;
}

.modal_info {
    text-align: center;
    padding: 10px;
}

.modal_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal_comment {
    font-size: 14px;
    margin-bottom: 10px;
}

.modal_p {
    font-size: 14px;
    color: #666;
}

.background_color {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal.show {
    display: block;
}

.background_color.show {
    display: block;
}